body {
  background-color: #e0e0e0;
}
#navigation {
  width: 100%;
  height: 82px;
  max-height: 82px;
  background-color: #eee;
  font-family: "Rubik", sans-serif;
}
#navigation .items-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 26px;
}
#navigation .items-wrapper .item {
  display: inline-block;
  padding-bottom: 16px;
}
#navigation .items-wrapper .seach_icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  background: #FF4A52;
  width: 100px;
  height: 82px;
}
#navigation .items-wrapper .item:hover > .submenu-wrapper, #navigation .items-wrapper .item:hover > .arrow {
  display: block;
}
#navigation .items-wrapper .item .arrow {
  display: none;
  width: 0px;
  height: 0px;
  border-top: 15px solid #040E27;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px;
  position: relative;
  z-index: 101;
  top: 15px;
  left: 50%;
  margin-top: -15px;
  transform: translateX(-50%);
}
#navigation .items-wrapper .item .item-link {
  color: #040E27;
  display: block;
  padding: 9px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  font-family: "Rubik", sans-serif;
}
#navigation .items-wrapper .item .item-link:hover {
  text-decoration: none;
  color: #FF4A52;
}
#navigation .items-wrapper .item .submenu-wrapper {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  left: 0px;
  z-index: 999;
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#navigation .items-wrapper .item .submenu-wrapper .item-submenu {
  max-width: 1200px;
  margin: 20px auto;
  font-size: 0px;
  column-count: 5;
  column-gap: 20px;
  column-rule: 1px outset #ccc;
  display: flex;

}
@media (max-width: 1024px) {
  #navigation .items-wrapper .item .submenu-wrapper .item-submenu {
    column-count: 4;
    
 }
}
@media (max-width: 840px) {
  #navigation .items-wrapper .item .submenu-wrapper .item-submenu {
    column-count: 3;
 }
}
@media (max-width: 480px) {
  #navigation .items-wrapper .item .submenu-wrapper .item-submenu {
    column-count: 2;
 }
}
#navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group {
  font-size: 14px;
  box-sizing: border-box;
  padding: 5px 20px 0px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
#navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group .submenu-link-master, #navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group .submenu-link {
  display: block;
}
#navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group .submenu-link-master:hover, #navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group .submenu-link:hover {
  text-decoration: none;
}
#navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group .submenu-link-master {
  color: #040E27;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: 15px;
}
#navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group .submenu-link {
  color: #666;
  line-height: 1.4em;
  margin-bottom: 10px;
}
#navigation .items-wrapper .item .submenu-wrapper .item-submenu .submenu-group .submenu-link:hover {
  color: #FF4A52;
}
#navigation .items-wrapper  .seach_icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  background: #FF4A52;
  width: 100px;
}

@media (max-width: 767px) {
  /* line 324, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  
#navigation .items-wrapper .seach_icon  {
    width: 50px;    
    height: 82px;
  }
  #navigation .items-wrapper .item .item-link {
    padding: 3px;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Rubik", sans-serif;
  }
  #navigation .items-wrapper .item  .social_wrap .number p  {
    font-size: 0;
    margin-top: 6px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 324, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper .seach_icon {
    width: 100px;
    height: 82px;
    
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 324, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper .seach_icon {
    width: 82px;
  }
}

/* line 343, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper .seach_icon a {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 349, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper   .seach_icon a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media (min-width: 992px) and (max-width: 1200px) {
  /* line 267, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper  .social_wrap {
    margin-right: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 267, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper  .social_wrap {
    margin-right: 55px;
  }
}

/* line 276, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper  .social_wrap .social_links {
  margin-right: 4px;
}

/* line 279, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper  .social_wrap .social_links li {
  display: inline-block;
}

/* line 281, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper  .social_wrap .social_links li a {
  display: inline-block;
  color: #AAB1B7;
  font-size: 16px;
  margin: 0 11px;
}

/* line 286, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper  .social_wrap .social_links li a:hover {
  color: #FF4A52;
}

/* line 292, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper  .social_wrap .number {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #EAEAEA;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 292, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper  .social_wrap .number {
    margin-right: 0;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 292, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper  .social_wrap .number {
    border-right: 1px solid transparent;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 292, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper  .social_wrap .number {
    border-right: 1px solid transparent;
  }
}

/* line 306, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper  .social_wrap .number p {
  font-size: 16px;
  color: #040E27;
  margin-bottom: 0;
  font-weight: 400;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 306, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
  #navigation .items-wrapper  .social_wrap .number p {
    font-size: 14px;
  }
}

/* line 315, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_header.scss */
#navigation .items-wrapper  .social_wrap .number p i {
  color: #FF4A52;
  font-size: 16px;
  margin-right: 5px;
}


/**/


.wrapper {
  position: fixed;
  top: 50%;
  z-index: 999;
  left: 2%;
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
}

ul li {
  width: 50px;
  height: 50px;
  position: relative;
  /* background: #e59500; */
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

ul li .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

ul li.facebook{
  background: #3b5998;
}

ul li.twitter{
  background: #00aced;
}

ul li.instagram{
  background: #bc2a8d;
}

ul li.google{
  background: #dd4b39;
}

ul li.whatsapp{
  background: #4dc247;
}

ul li.facebook div.slider{
  background: #627aac;
}

ul li.twitter div.slider{
  background: #7fd5f6;
}

ul li.instagram div.slider{
  background: #dd94c6;
}

ul li.google div.slider{
  background: #eea59c;
}

ul li.whatsapp div.slider{
  background: #82d47e;
}

.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 51px;
  width: 0px;
  height: 50px;
  background: #eebb5c;
  border-radius: 3px;
  transition: all 0.5s 0.3s ease;
}

.slider p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  transition: all 0.6s ease;
}

ul li:hover .slider {
  width: 180px;
  transition: all 0.5s ease;
}

ul li:hover .slider p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}







/* youtube link */
.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}